@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--header-height: 64px;
		--bg-light: #f2f2f2;
		--bg-light1: rgb(231, 230, 236);
		--text-light: #222222;
		--bg-dark: #222222;
		--bg-dark1: rgb(48, 48, 51);
		--text-dark: #f2f2f2;

		--primary-50: #fafafa;
		--primary-100: #e4e7ee;
		--primary-200: #d9dbe6;
		--primary-300: #cdcedd;
		--primary-400: #bbbcce;
		--primary-450: rgb(154, 154, 189);
		--primary-500: #73739c;
		--primary-600: #696987;
		--primary-700: #585975;
		--primary-800: #474963;

		--dark-200: #545555;
		--dark-300: #505152;
		--dark-400: #434446;
		--dark-500: #38393a;
		--dark-550: #2f3031;
		--dark-600: #272829;
		--dark-700: #212224;
	}
}

html {
	overflow-x: hidden;
	height: 100dvh;
	background-color: var(--bg-light);
	color: var(--text-light);
	overflow-wrap: anywhere;
	scrollbar-gutter: stable;
}

html.dark {
	background-color: var(--bg-dark);
	color: var(--text-dark);
	color-scheme: dark;
}

body {
	height: 100%;
}

/* Remove blue highlight on mobile presses */
input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
}

@layer components {
	.container-rndb {
		@apply container px-4 sm:px-6 pb-4 mx-auto;
		transition: max-width 450ms;
	}
}

.thin-scrollbar {
	scrollbar-gutter: stable;
	scrollbar-width: thin;
	scrollbar-color: #ffffff00 transparent;
}

.thin-scrollbar::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.thin-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 1px;
	border: transparent;
	visibility: hidden;
}

.dark .thin-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.5);
}

.thin-scrollbar:hover {
	scrollbar-color: #94949450 transparent;
}

.thin-scrollbar:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

.input {
	background-color: rgb(229 231 235);
	padding: 0.5rem;
	border-radius: 0.375rem;
}

.input.reset-padding {
	padding: 0.5rem;
}

.input:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	box-shadow: 0 0 0 2px var(--primary-600);
}

.input.error {
	box-shadow: 0 0 0 2px rgb(238, 82, 82);
}

.input:focus.error {
	box-shadow: 0 0 0 2px rgb(238, 82, 82);
}

.dark .input.error {
	box-shadow: 0 0 0 2px rgb(248 113 113);
}

.dark .input {
	background-color: var(--dark-500);
	color: white;
}

.sidebar-item {
	transition: background-color 300ms;
	border-radius: 0.375rem;
	display: flex;
	gap: 0.5rem;
	padding: 0.25rem 0.5rem;
	width: 100%;
}

.btn {
	transition: background-color 300ms;
}

.btn:hover,
.sidebar-item:hover {
	background-color: rgb(202, 202, 214);
}

.active.sidebar-item {
	color: var(--text-dark);
	background-color: var(--primary-600);
}

.dark .sidebar-item {
	color: var(--text-dark);
}

.dark .btn:hover,
.dark .sidebar-item:hover:not(.active) {
	background-color: rgb(74, 74, 78);
}

.modal-bg {
	position: fixed;
	inset: 0;
	z-index: 99999;
	background-color: rgb(0 0 0 / 0.5);
}

.modal-content {
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 99999;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100dvh;
	max-height: 512px;
	width: 90dvw;
	max-width: 1000px;
	transform: translate(-50%, -50%);
	border-radius: 0.75rem;
	background-color: var(--bg-light);
	padding: 1.5rem;
}

.dark .modal-content {
	background-color: var(--bg-dark);
}

.close-btn {
	position: absolute;
	right: 10px;
	z-index: 999999;
	top: 10px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 9999px;
	height: 2rem;
	width: 2rem;
}
